/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------End Reset------------------------------------------------------*/

body {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    background-color: rgb(56, 59, 61);
    color: aliceblue;
}

.container {
    max-width:960px;
    height: 500px;
    border: 2px solid green;
    margin: auto;
    
}

.item{
    width: 200px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.title {
    float: left;
    max-width:200px;
    font-size:2.5em;
    
}

img {
    padding:16px;
    border-radius: 40px;
    display: inline-flex;
    width: 200px;

}
#userInput {
    float: right;
    border-radius: 100px;
}

.searchText {
    float: right;
}

#newTopic {
    font: 0.8em;;
    float: right;
    border-radius: 100px;
}

gifClass {
    font: 0.8em;;
    float: right;
    border-radius: 100px;
}




#search {
    border-radius: 100px;
}

g