.title {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    max-width:200px;
    font-size:1.5em;
    
}

img {
    padding:16px;
    border-radius: 40px;
    display: table-row;
}
#userInput {
    float: right;
    border-radius: 100px;
}
#newTopic {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    border-radius: 100px;
}
.container {
    max-width:1080px;
    margin:auto;
    min-height: 80%;
    background-image:url("../images/circles-dark.png");
}

#search {
    border-radius: 100px;
}