/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------End Reset------------------------------------------------------*/

body {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    background-color: rgb(233, 186, 115);
    color: aliceblue;
}

.container {
    width: 980px;
    max-height: fit-content;
    padding-left: 20px;
    padding-left: 20px;
    padding-bottom: 60px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 60px;
    border: 3px solid rgb(76, 199, 189);
    border-radius: 30px;
    background-color: rgb(56, 59, 61); 
}

.item{
    width: 200px;
    display: inline-table;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}

img {

    border-radius: 40px;
    display: inline-flex;
    width: 200px;
    border: 3px solid rgb(76, 199, 189);
}

.title {
    float: left;
    width:200px;
    height: 60px;
    font-size:2.5em;
    margin-top: 12px;
    
}

.searchText {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    
     
 }
#userInput {
    float: right;
    border-radius: 100px;
    margin-top: 20px;
    margin-right: 20px;
}



#newTopic {
    font: 0.8em;
    float: right;
    border-radius: 100px;
    margin-top: 50px;
    margin-right: -292px;
}

button {
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 100px;
}




#search {
    border-radius: 100px;
}

g